@model List<StudioSintoniaPreview.Models.PostModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


<header>
    <div class id="flex-container container1">
        <br />
        <div>
            <h1>Seja bem-vindo ao Studio Sintonia</h1>
            <h2>Aqui você encontra os melhores beats.</h2>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
            <br />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
    </div>
</header>

<br />
<br />
<br />
<br />

@foreach (var item in Model)
{
    <div class="col-12 mb-4 d-flex justify-content-center">
        <div class="card" style="width: 100%; max-width: 500px;">
            <div class="capa-item">
                <img src="~/arquivos/@item.Conteudo" class="card-img-top" alt="Capa do Post" style="width: 100%; height: auto;">
            </div>
            <div class="card-body">
                <div style="display: flex; justify-content: flex-end;">
                    <i id="like-icon-@item.PostModelId" onclick="Curtir(@item.PostModelId)" class='bx bx-heart bx-md' style="cursor: pointer;"></i>
                </div>
                <p class="card-text"><strong>Tag:</strong> Imagem</p>
                <p class="card-text"><strong>Descrição:</strong> @item.Descricao</p>
                <p class="card-text"><strong>Curtidas:</strong> 1</p>
                <p class="card-text"><strong>Valor:</strong> @item.Valor</p>
@*                 @if (item.UsuarioModelId == item.UsuarioModelId)
                {
                    <a asp-action="Delete" asp-route-id="@item.PostModelId" class="btn btn-danger">Delete</a>
                } *@
               

                <button style="display: none;" id="postid" value="@item.PostModelId" class="card-text">@item.PostModelId</button>

            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        function Curtir(PostModelId) {
            $.ajax({
                url: '/PostModels/CurtiPost',
                type: 'POST',
                data: {
                    postId: PostModelId
                },
                success: function (response) {
                    if (response.success) {
                        $('#like-icon-' + PostModelId).removeClass('bx-heart').addClass('bx-heart-circle');
                        $('#like-icon' + PostModelId).css('color', 'red');
                    } else {
                        alert('Erro ao curtir o post.');
                    }
                },
                error: function () {
                    alert('Erro ao curtir o post.');
                }
            });
        }

        $(document).ready(function () {
            $('#like-icon').click(function () {
                var postId = $('#postid').val();
            });
        });
    </script>
}


<style>
    .capa-container .capa-item img {
        max-width: 100%;
        height: auto;
    }
</style>

