@model IEnumerable<StudioSintoniaPreview.Models.UsuarioModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioFoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioBio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioProfissaoNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioFoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioBio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioProfissaoNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsuarioModelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UsuarioModelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UsuarioModelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
